.top-container{
  margin: 0;
  display: block;
  position:relative;
  text-align: none;
}

.middle-container{
  background-color: #b2fcff;
  text-align: center;
}

.Hobbies{
  background-color: #d2fafb;
}

.bottom-container{
  background-color: #b2fcff;
text-align: center;
}

.headshot{
  display: inline;
  position: relative;

margin-left: 30%;
right:25%;

}


div.asa{
  position: absolute;
  display: inline;
  text-align: center;
  left: 30%;
  right: 30%;
  margin-top: 20px;
}



.btn{
  font-family: 'Amatic SC', cursive;
font-weight: normal;
}
.footer-link{
  font-family: 'Amatic SC', cursive;

}

body{
  background-color: #ecfcff;
  margin:0px;
  display: block;

  /*text-align: center;*/
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  padding-bottom: 5px;
  margin-bottom: 50px;
margin-top: 50px;
    /*margin-bottom: 8px;*/
}

h1{
 margin-top: 0px;
 font-family: 'Amatic SC', cursive;
font-size: 41px;
}

p{
font-family: 'Josefin Slab', serif;
font-weight: normal;
font-size: 20px;
}

h2{
  font-family: 'Amatic SC', cursive;
  font-size: 35px;

}
h3{
  font-family: 'Amatic SC', cursive;
  font-size: 27px;
   margin: 0px;
}
a{
  font-weight: normal;
font-family: 'Josefin Slab', serif;  font-size: 20px;
}


div.projects{
    background-color: #ecf4f3;
  margin:  0px;
}

.table{
  display: block;
}


div.hobbies{
  background-color: #ecf4f3;

}
#beachPic{
  width: 100%;
height: 400px;
}
#pp{
  text-align: left;
  font-size: 23px;
margin-left: 0%;
margin-right: 0%;
position: relative;

}
.welcome {
  position: relative;
  text-align: center;
  color: #b2fcff;
}


#firstH {

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Kaushan Script', cursive;
}
